@using Inv.WebUI.Resources

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = SystemResource.FinancialPeriods;
}


<div class="row pt-3">
    <div class="col-md-3 Div_Tree CustomStyleTree max-h-500 bg-white">
        <table class=" max-h-500" id="Periods" data-main="mainTable"> </table>
    </div>

    <div class="col-md-9 Div_Tree bg-white max-h-500">
        <div class="row">

        <div class="col-md-4 ">
            <label class="">@SystemResource.FinancialPeriodCode</label>
            <input class="form-control" type="text" name="FinancialYearsCode" id="FinancialYearsCode" value="" placeholder="@SystemResource.FinancialPeriodCode" />
        </div>

        <div class="col-xs-1 text-center">
            <button type="button" class="src-btn btn btn-warning" id="btnSys_FinancialYearsSearch" name="btnSearch">
                <i class="fa fa-search"></i>
            </button>
        </div>

        <div class="col-md-7 ">
            <label class="">@SystemResource.FiscalPeriodName</label>
            <input class="form-control" type="text" name="FinancialYearNameA" id="FinancialYearNameA" value="" placeholder="@SystemResource.FiscalPeriodName" />
        </div>

        <div class="col-md-6 ">
            <label class="">@SystemResource.PeriodStatus</label>
            <textarea class="form-control" name="YearState" id="YearState" placeholder="@SystemResource.PeriodStatus"></textarea>
        </div>

        <div class="col-md-6 ">
            <label class="">@SystemResource.ReasonForStopping</label>
            <textarea class="form-control" name="StopReason" id="StopReason" placeholder="@SystemResource.ReasonForStopping"></textarea>
        </div>

        <div class="col-md-6 ">
            <label class="">@SystemResource.PeriodPartsType</label>
            <select id="SubPeriodsType" name="SubPeriodsType" class="form-control">
                <option value="null">@SystemResource.PeriodPartsType</option>
                <option value="1">@SystemResource.Months</option>
                <option value="2" disabled>@SystemResource.Quarterly</option>
                <option value="3" disabled>@SystemResource.Days</option>
                <option value="4" disabled>@SystemResource.Years</option>
            </select>
        </div>

        <div class="col-md-2 ">
            <label for="AutoSerial" class="">@SystemResource.Closed</label>
            <input class="form-control" type="checkbox" name="IsClosed" id="IsClosed" value="" />
        </div>

        <div class="col-md-2 ">
            <label for="IsDefault" class="">@SystemResource.Active</label>
            <input class="form-control" type="checkbox" name="IsActive" id="IsActive" value="" />
        </div>

        <div class="col-md-2 ">
            <label class="">@SystemResource.NumberOfPeriods</label>
            <input class="form-control" type="number" name="NoOfIntervals" id="NoOfIntervals" value="" placeholder="@SystemResource.NumberOfPeriods" />
        </div>

        <div class="col-md-4 ">
            <label class="">@SystemResource.StartDate</label>
            <input class="form-control" type="date" name="StartingFrom" id="StartingFrom" value="" placeholder="@SystemResource.StartDate" />
        </div>

        <div class="col-md-4 ">
            <label class="">@SystemResource.EndDate</label>
            <input class="form-control" type="date" name="EndTo" id="EndTo" value="" placeholder="@SystemResource.EndDate" />
        </div>

        <div class="col-md-4 ">
            <label class="">@SystemResource.ClosingDate</label>
            <input class="form-control" type="date" name="ClosingDate" id="ClosingDate" value="" placeholder="@SystemResource.ClosingDate" />
        </div>

        <div class="col-md-4">
            <div class="col-xs-12 form-control  radioCoun">
                <label class="col-xs-12 text-center">@SystemResource.ShutdownMethod</label>

                <label for="Overlapping" class="">@SystemResource.Overlapping</label>
                <input class="form-control" type="radio" name="ShutdownMethod" id="Overlapping" value="1"/>

                <label for="NonOverlapping" class="">@SystemResource.NonOverlapping</label>
                <input class="form-control" type="radio" name="ShutdownMethod" id="NonOverlapping" value="2" checked />
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-xs-12 form-control  radioCoun">
                <label class="col-xs-12 text-center">@SystemResource.PeriodType</label>
                <label for="TaxNameA" class="">@SystemResource.Gregorian</label>
                <input class="form-control" type="radio" name="TaxNameA" id="TaxNameA" value="" />
            </div>
        </div>

        <div class="col-md-5">
            <button id="CreateIntervalsAutomatically"  disabled  class="btn btn-primary col-md-12" style="height: 30px;">@SystemResource.CreateIntervalsAutomatically</button>
        </div>

        <div class="col-xs-12 mt-3" style="overflow:auto">
            <table id="divIntervalsGrid" class="col-xs-12 mt-4" data-Sub="true"></table>
        </div>
    </div>
    </div>
</div>

<script src="~/ClientApp/Pages/Acc/Sys_FinancialYears.js"></script>