@using Inv.WebUI.Resources

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = SystemResource.SearchWindow;
}

<div class="row">
    <div class="col-12 bg-white pt-3 pb-2 rounded">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-searchWindow-tab" data-toggle="tab" href="#searchWindow" role="tab" aria-controls="nav-searchWindow" aria-selected="true"> <i class="fa fa-book"></i> @SystemResource.BasicData</a>
                <a class="nav-item nav-link" id="nav-setting-tab" data-toggle="tab" href="#setting" role="tab" aria-controls="nav-setting" aria-selected="false"> <i class="fa fa-book"></i> @SystemResource.Search_screen_settings</a>
                <a class="nav-item nav-link" id="nav-searchColumn-tab" data-toggle="tab" href="#searchColumn" role="tab" aria-controls="nav-searchColumn" aria-selected="false"> <i class="fa fa-book"></i> @SystemResource.Search_fields</a>
            </div>
        </nav>

        <div class="tab-content text-center row" id="nav-tabContent">
            <div id="searchWindow" class="tab-pane fade show active col-12">
                <div class="col-md-12 row">
                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.App_SystemPage</label>
                        <select class="form-control" name="ModuleCode" id="ModuleCode">
                            <option value="">@SystemResource.App_SystemPage</option>
                        </select>
                    </div>
                    
                    <div class="col-md-1">
                        <button type="button" class="src-btn btn btn-warning" id="btnSearchWindow" name="btnSearch">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    
                    <div class="col-md-2 d-flex">
                        <label class="">@SystemResource.App_SystemCode</label>
                        <select class="form-control" name="SystemCode" id="SystemCode">
                            <option value="">@SystemResource.App_SystemCode</option>
                        </select>
                    </div>
                    
                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.App_SubSystemCode</label>
                        <select class="form-control" name="SubSystemCode" id="SubSystemCode">
                            <option value="">@SystemResource.App_SubSystemCode</option>
                        </select>
                    </div>

                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.App_SystemControl</label>
                        <input class="form-control" type="text" name="ControlCode" id="ControlCode" value="" placeholder="@SystemResource.App_SystemControl">
                    </div>
                </div>
            </div>

            <div id="setting" class="tab-pane fade col-12">
                <div class="row">
                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.DataSourceName</label>
                        <select class="form-control" name="DataSourceName" id="DataSourceName">
                            <option selected value="">@SystemResource.DataSourceName</option>
                        </select>
                    </div>

                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.ReturnDataPropertyName</label>
                        <select class="form-control" name="ReturnDataPropertyName" id="ReturnDataPropertyName">
                            <option value="">@SystemResource.ReturnDataPropertyName</option>
                        </select>
                    </div>

                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.description</label>
                        <input class="form-control" type="text" name="Description" id="Description" value="" placeholder="@SystemResource.description">
                    </div>

                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.FormTitleA</label>
                        <input class="form-control" type="text" name="SerachFormTitleA" id="SerachFormTitleA" value="" placeholder="@SystemResource.FormTitleA">
                    </div>

                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.FormTitleE</label>
                        <input class="form-control" type="text" name="SerachFormTitle" id="SerachFormTitle" value="" placeholder="@SystemResource.FormTitleE">
                    </div>

                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.Left</label>
                        <input class="form-control" type="number" name="Left" id="Left" value="" placeholder="@SystemResource.Left">
                    </div>

                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.Top</label>
                        <input class="form-control" type="number" name="Top" id="Top" value="" placeholder="@SystemResource.Top">
                    </div>

                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.Height</label>
                        <input class="form-control" type="number" name="Height" id="Height" value="" placeholder="@SystemResource.Height">
                    </div>

                    <div class="col-md-3 d-flex" style="clear: both;">
                        <label class="">@SystemResource.Width</label>
                        <input class="form-control" type="number" name="Width" id="Width" value="" placeholder="@SystemResource.Width">
                    </div>

                    <div class="col-md-3 d-flex">
                        <label class="">@SystemResource.PageSize</label>
                        <input class="form-control" type="number" name="PageSize" id="PageSize" value="" placeholder="@SystemResource.PageSize">
                    </div>

                    <div class="d-flex align-items-center justify-content-around col-2">
                        <label for="IsFullScreen" class="col-md-2">@SystemResource.FullScreen</label>
                        <div class="switch-button switch-button-yesno">
                            <input type="checkbox" name="IsFullScreen" id="IsFullScreen"><span>
                                <label for="IsFullScreen"></label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="searchColumn" class="tab-pane fade col-12">
                <div class="col-12">
                    <table id="divColumnSettingGrid"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 bg-white mt-3 pt-3 pb-2 rounded">
        <table data-main="mainTable" id="divSearchGrid"></table>
    </div>
</div>

<script src="~/ClientApp/Tools/Search/Search.js"></script>