@using Inv.WebUI.Resources

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = SystemResource.Clientstatment;
}

<div class="row bg-white rounded p-4">
    <div class="col-md-4 d-flex">
        <label for="txtFromDate"> @SystemResource.App_CustomerCODE </label>
        <input type="text" class="form-control" name="txtFromDate" id="txtCustomerCODE" placeholder="@SystemResource.App_CustomerCODE">
    </div>

    <div class="col-md-4 d-flex">
        <label> من @SystemResource.APP_Category  </label>
        <select id="txtfromCategory" name="" class="form-control"> </select>
    </div>
    
    <div class="col-md-4 d-flex">
        <label> الي @SystemResource.APP_Category  </label>
        <select id="txttoCategory" name="" class="form-control"> </select>
    </div>

    <div class="col-12 text-center mt-3 report-btn">
        <button id="btnPrintTrview" type="button" class="btn btn-outline-dark"> @SystemResource.Print_Report <i class="fa fa-eye"></i></button>
        <button id="btnPrintTrPDF" type="button" class="btn btn-outline-dark"> @SystemResource.Download_PDF <i class="fa fa-file-pdf text-danger"></i></button>
        <button id="btnPrintTrEXEL" type="button" class="btn btn-outline-dark"> @SystemResource.Download_EXCEL <i class="fa fa-file-excel text-success"></i></button>
    </div>
</div>

<script src="~/ClientApp/CollectionReports/Clientaccstat.js"></script>